#back-office-sheet
    #patient-summary
        md-outlined-text-field(label="First Name")
        md-outlined-text-field(label="Last Name")
        md-outlined-text-field(label="Date of Birth")
        md-outlined-text-field(label="Age", type="number")
        md-outlined-select(label="sex", name="patient-sex")
            md-select-option(value="male"): div(slot="headline") Male
            md-select-option(value="female"): div(slot="headline") Female
        md-outlined-text-field(label="Occupation")
        md-outlined-text-field(label="Email")
        md-outlined-text-field(label="Phone")
        .patient-flags
            each flag in ["NEW","MEP","ABN","FORMS","EXAM","MINOR","MILITARY","PAY"]
                div(id=`axis-flag-${flag.toLowerCase()}`, class="display-none")= flag
    md-tabs
        md-primary-tab#sheet-tab-pending(aria-controls="sheet-panel-pending")
            | Pending
            md-icon(slot="icon") pending
        md-primary-tab#sheet-tab-previous(aria-controls="sheet-panel-previous")
            | Previous
            md-icon(slot="icon") commit
        md-primary-tab#sheet-tab-exam(aria-controls="sheet-panel-exam")
            | Exam
            md-icon(slot="icon") line_end_circle
    #sheet-panel-pending(role="tabpanel", aria-labelledby="sheet-tab-pending")
        #pending
            md-outlined-select(label="Visit Type", name="visit-type")
                md-select-option(value="exam"): div(slot="headline") Exam
                md-select-option(value="treatment"): div(slot="headline") Treatment
            span - Pending
        #pending-problems
            table
                caption
                    | Problem List
                    md-filled-button
                        | Add
                        md-icon(slot="icon") add
                    md-filled-tonal-button
                        | Resolve All
                        md-icon(slot="icon") delete_sweep
                thead:tr
                    th Problem
                    th Onset
                    th Severity
                tbody
                tfoot.display-none: tr
                    td: md-outlined-text-field(label="New Problem")
                    td: fieldset
                        div: label(for="new-problem-onset-acute")
                            md-checkbox(
                                touch-target="wrapper", 
                                id="new-problem-onset-acute",
                                name="acute")
                            | Acute 
                        div: label(for="new-problem-onset-traumatic")
                            md-checkbox(
                                touch-target="wrapper",
                                id="new-problem-onset-traumatic",
                                name="traumatic")
                            | Traumatic
                    td: md-outlined-select(label="Severity", name="new-problem-severity")
                        md-select-option(value="mild"): div(slot="headline") Mild
                        md-select-option(value="moderate"): div(slot="headline") Moderate
                        md-select-option(value="severe"): div(slot="headline") Severe
                    md-filled-icon-button: md-icon add
            span#problem-suggestion-chip-set-label.chip-set-label Quick-Add Common Problems
            md-chip-set#problem-suggestion-chip-set(aria-labelledby="problem-suggestion-chipset-label")
                each region in ["back","neck","hip","knee","ankle","foot","shoulder","elbow","wrist","hand","jaw","rib","chest","head"]
                    md-suggestion-chip.suggestion--primary(label=`${region}`, aria-label=`add new ${region} problem`)
                each detail in ["right","left","non-traumatic","chronic","mild","severe","stiffness","numbness","weakness","headache"]
                    md-suggestion-chip.suggestion--final.display-none(label=`${detail}`, aria-label=`specify ${detail}`)
        #pending-complications
            table
                caption
                    | Complications, Injuries, and Procedures
                    md-filled-button
                        | New
                        md-icon(slot="icon") add
                thead:tr
                    th Complication
                    th Category
                tbody
                tfoot.display-none: tr
                    td: md-outlined-text-field(label="Complication")
                    td: md-outlined-select(label="Category", name="complication-category")
                        md-select-option(value="minor"): div(slot="headline") Complication
                        md-select-option(value="major"): div(slot="headline") New Problem
                        md-select-option(value="contraindication"): div(slot="headline") Contraindication
                    md-filled-icon-button: md-icon add
            suggestion-chip-set-label.chip-set-label Quick-Add Common Complications
            md-chip-set#complication-suggestion-chip-set
                each event in ["fall","home/work injury","sports injury","medical procedure","new therapy"]
                    md-suggestion-chip.suggestion-primary(label=`${event}`, aria-label=`add new ${event}`)
                each fall in ["ladder","stool","stairs","step","car","carpet","hardwood","concrete"]
                    md-suggestion-chip.suggestion--secondary.fall.display-none(label=`${fall}`, aria-label=`specify ${fall}`)
                each injury in ["lifting","twisting","overuse","standing","sitting","sleep","non-traumatic"]
                    md-suggestion-chip.suggestion--secondary.injury.display-none(label=`${work}`, aria-label=`specify ${work}`)
                each sport in ["golf","soccer","football","baseball","tennis","pickleball","running","biking","swimming","hockey","martial arts"]
                    md-suggestion-chip.suggestion--secondary.sports.display-none(label=`${sport}`, aria-label=`specify ${sport}`)
                each procedure in ["dental","skin lesion removal","lipoma removal","biopsy","surgery","medication"]
                    md-suggestion-chip.suggestion--secondary.procedure.display-none(label=`${procedure}`, aria-label=`specify ${procedure}`)
                each therapy in ["exercise","cupping","massage","dry-needling","acupuncture","shock-wave","ultrasound","e-stim"]
                    md-suggestion-chip.suggestion--secondary.therapy.display-none(label=`${therapy}`, aria-label=`specify ${therapy}`)
                each region in ["right","left","back","neck","hip","knee","ankle","foot","shoulder","elbow","wrist","hand","jaw","rib","chest","head"]
                    md-suggestion-chip.suggestion--final.display-none(label=`${region}`, aria-label=`add new ${region}`)
        #pending-adverse-events
            table
                caption
                    | Adverse Events with Treatment
                    md-filled-button
                        | New
                        md-icon(slot="icon") add
                thead:tr
                    th Event
                    th Severity
                    th Duration
                tbody
                tfoot.display-none: tr
                    td: md-outlined-text-field(label="Adverse Event")
                    td: md-outlined-select(label="Severity", name="ae-severity")
                        md-select-option(value="mild"): div(slot="headline") Mild
                        md-select-option(value="moderate"): div(slot="headline") Moderate
                        md-select-option(value="severe"): div(slot="headline") Severe
                    td: md-outlined-select(label="Duration", name="ae-duration")
                        md-select-option(value="hours"): div(slot="headline") Hours
                        md-select-option(value="days"): div(slot="headline") Days
                        md-select-option(value="weeks"): div(slot="headline") Weeks
                        md-select-option(value="ongoing"): div(slot="headline") Ongoing
                    md-filled-icon-button: md-icon add
            suggestion-chip-set-label.chip-set-label Quick-Add Common Events
            md-chip-set#complication-suggestion-chip-set
                each event in ["stiffness","soreness","headache","dizziness","rib pain","increased pain","numbness","weakness","fatigue","nausea"]
                    md-suggestion-chip.suggestion-primary(label=`${event}`, aria-label=`add new ${event}`)
                each region in ["right","left","back","neck","hip","knee","ankle","foot","shoulder","elbow","wrist","hand","jaw","rib","chest","head"]
                    md-suggestion-chip.suggestion--final.display-none(label=`${region}`, aria-label=`add new ${region}`)
        #pending-diagnoses
            table
                caption
                    | Diagnoses
                    md-filled-button
                        | New
                        md-icon(slot="icon") add
                thead:tr
                    th Code
                    th Description
                tbody
                tfoot.display-none: tr
                    td: md-outlined-text-field(label="Code")
                    td: md-outlined-text-field(label="Description")
                    md-filled-icon-button: md-icon add
            suggestion-chip-set-label.chip-set-label Quick-Add Common Diagnoses
            md-chip-set#diagnosis-suggestion-chip-set
        #pending-treatment
    #sheet-panel-previous(role="tabpanel", aria-labelledby="sheet-tab-previous")
        #previous-subjective
        #previous-problems
        #previous-objective
        #previous-assessment
        #previous-diagnoses
        #previous-plan
        #previous-treatment
    #sheet-panel-exam(role="tabpanel", aria-labelledby="sheet-tab-exam")
        #exam-subjective
        #exam-problems
        #exam-objective
        #exam-assessment
        #exam-diagnoses
        #exam-plan
        #exam-treatment

        

